/* 举例 */
.eg
  color: black
  border: solid 1px
  display: block
  padding: 10px 20px
  border-radius: 4px
  border-color: #6ab0de
  background-color: #6ab0de
  &:before
    content: 'e.g.'
    font-weight: bold
    padding-right: 10px
    font-size: 20px
    color: white

.note
  color: black
  border: solid 1px
  display: block
  padding: 10px 20px
  border-radius: 4px
  border-color: #53cc7c
  background-color: #53cc7c
  &:before
    content: 'NOTE'
    font-weight: bold
    padding-right: 10px
    font-size: 16px
    color: white

/* 提问 */
.quest
  color: darkcyan;
  border: solid 1px;
  display: block;
  padding: 10px 20px;
  border-radius: 4px 4px 4px 4px;
  margin-bottom: 0px;
  background-color: #dff0d8;
  font-weight: bold;
  &:before
    content: 'Q: ';
    font-size: 20px;
    padding-right: 10px
    color: black;

/* 回答 */
.answer 
  color: darkcyan;
  border: solid 1px;
  display: block;
  padding: 10px 20px;
  border-radius: 4px 4px 4px 4px;
  border-color: darkcyan;
  color: black;
  &:before
    content: 'A: ';
    font-weight: bold;
    font-size: 20px;
    padding-right: 10px
    color: black;

strong 
  color: rgb(192, 106,18);

/* 原斜体加强 */
em 
  font-style: normal;
  border-radius: 5px;
  background-color: #2285A2;
  color: white;
  padding: 1px 4px;

/* 公式 */
svg 
  padding-right: 3px;
  padding-left: 3px;

#post
  .pjax
    article
      :not(pre) > code 
        background-color: #f7f7f7;
        color: #000000;
        font-size: 1em;
      table
        &.green_title
          tr th
            border-right: 1px solid #a3c6bd;
      blockquote
        background-color: rgba(20, 5, 16, 0.1);
        border-left: 10px solid rgba(224, 15, 23, 0.1);

/* codeBlock */
// .marked
//   background-color: rgba(20, 5, 16, 0.1);


#post
  .pjax
    article
      .codeBlockContainer
        background-color: #b6c6d024;
        border-radius: 10px;
      .codeBlockTitle
        border-bottom: 2px solid #dadde1;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: 500;
        padding: 10px 15px;
        margin-bottom: -15px;
        font-family: Menlo, Monaco, Consolas, Courier New, monospace;
      .codeBlockLines
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: #b6c6d024;
        overflow-x: auto;
        .marked
          background-color: #dddfe1;
          margin: 0px -15px;
          padding: 0px 15px;

